html, body, div, h5, h6, p, ul, li {
    margin: 0px;
    padding: 0px;
}
body{
	padding-bottom:56px; 
}
#app {
	.AppBar{
		position: fixed !important;
	}
	.AppBar-block{
		height: 64px;
	}
	.Footer{
		position: fixed;
		bottom: 0;
		background: white;
		z-index: 100;
		width: 100%;
	}

	.share-item{
		margin: 20px 10px;
	}

	.progress{
		text-align: center;
		margin-top: 30px;
	}

	.share-more-paper{
		background: white;
		overflow: hidden;
		padding: 15px;
		font-size: 14px;
    	font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    	_font-family: Tahoma,Arial,Helvetica,STHeiti;
    	color: #666;
		img{max-width: 100%;}
		.tips-box {
		    margin: 35px 0;
		    border: 1px solid #ffe3b7;
		    background-color: #fff5e5;
		    padding: 15px 20px;
		    line-height: 26px;
		    color: #333;
		    font-size: 14px;
		}
	}

	.shareMore{
		.downloadBtn{
			position: fixed;
			right: 20px;
			bottom: 20px;
		}
	}	

	.plan{
		.plan-main{
			height: 100%;
		}

		#map-bg{
			height: 100%;
			width: 100%;
			position: absolute;
		}
		
		.plan-make{
		    position: absolute;
    		left: 50%;
    		top: 50%;
    		transform: translateX(-50%) translateY(-50%);

    		a{
    			height: 50px !important;
    			line-height: 50px !important;
    		}
		}

		.plan-select-table{
			margin: 10px;
			padding: 20px;

			.table-input{
				width: 100% !important;
			}

			.select-table-next{
				display: block !important;
				margin: 20px 0;
			}
		}
	}
}
